[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/onqtam/doctest
[submodule "lib/dSFMT"]
	path = lib/dSFMT
	url = https://github.com/MersenneTwister-Lab/dSFMT
