*.*.pdf
*.*.swp
*.7z
*.a
*.class
*.com
*.dll
*.dmg
*.exe
*.filters
*.gv
*.gz
*.iso
*.jar
*.log
*.o
*.opensdf
*.pyd
*.rar
*.sdf
*.sln
*.so
*.sql
*.sqlite
*.tar
*.vcxproj
*.vcxproj.user
*.whl
*.zip
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
/*.egg-info
/dist
CMakeCache.txt
CMakeFiles
Makefile
Thumbs.db
cmake_install.cmake
cmake_uninstall.cmake
ehthumbs.db
tags
.ipynb_checkpoints
