---
# Configuration script for github continuous integration service

name: macOS build

on:
  push:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "*.cff"
      - "env/csv/*.csv"
      - "env/maze/*.txt"
      - "cfg/*.json"
      - "python/*.py"
      - "python/notebooks/*.ipynb"
  pull_request:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "*.cff"
      - "env/csv/*.csv"
      - "env/maze/*.txt"
      - "cfg/*.json"
      - "python/*.py"
      - "python/notebooks/*.ipynb"

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Dependencies
        run: |
          brew install libomp
          OPENMP_PREFIX=$(brew --prefix)/opt/libomp
          echo "OpenMP_ROOT=$OPENMP_PREFIX" >> $GITHUB_ENV
          echo "LDFLAGS=$LDFLAGS -L$OPENMP_PREFIX/lib" >> $GITHUB_ENV

      - name: Configure
        working-directory: build
        run: cmake ..
          -DCMAKE_BUILD_TYPE=Release
          -DXCSF_PYLIB=ON
          -DENABLE_TESTS=ON
          -DPYTEST=ON

      - name: Build
        working-directory: build
        run: cmake --build . --config Release -j2
...
