---
# Configuration script for github continuous integration service

name: Ubuntu build

on:
  push:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "*.cff"
      - "env/csv/*.csv"
      - "env/maze/*.txt"
      - "cfg/*.json"
      - "python/*.py"
      - "python/notebooks/*.ipynb"
  pull_request:
    branches: [master]
    paths-ignore:
      - "*.md"
      - "*.cff"
      - "env/csv/*.csv"
      - "env/maze/*.txt"
      - "cfg/*.json"
      - "python/*.py"
      - "python/notebooks/*.ipynb"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Configure
        env:
          CC: gcc-13
          CXX: g++-13
        working-directory: build
        run: cmake ..
          -DCMAKE_BUILD_TYPE=Release
          -DXCSF_PYLIB=ON
          -DENABLE_TESTS=ON
          -DPYTEST=ON

      - name: Build
        working-directory: build
        run: cmake --build . --config Release -j2
...
